body {
    /* background-color: black; */
    width: 100%;
}

.search-cont {
    display: flex;
    justify-content: center;
}

#search {
    border: 3px solid aqua;
    box-shadow: 4px 4px 10px aqua;    
    border-radius: 25px;
    padding: 8px 15px;
    font-weight: 600;
    font-size: medium;
}

.movie-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid black;
    margin-top: 25px;
    width: 100%;
    height: 800px;
}
.mov-detail {
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    
}
.movies {
    margin: 8px 0;
    border: 2px solid black;
    width: 24%;
    height: 300px;

}


"<p><b>FBI</b> is a fast-paced drama about the inner workings of the New York Field Office of the Federal Bureau of Investigation. These first-class agents, including Special Agent Maggie Bell and her partner, Special Agent Omar Adom 'OA' Zidan, bring all their talents, intellect and technical expertise on major cases in order to keep New York and the country safe.</p>"